
*{
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    margin-top: 2rem;
}

body{
    background-color: black;
}

.container{
   
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 400px 400px;
    margin-right: 10rem;
    margin-left: 10rem;
    margin-top: 2rem;
    gap: 2rem;
 

   

}



.content{
    background-color: rgb(255, 255, 255);
  
    outline: 1px solid;
    border-radius: 15px;
    display: flex;
    align-items: end;
    justify-content: center;
    
}

.content p{
    
}


.content1{
    
   
    background-position: cover;
    background-size: auto;
    background-repeat: no-repeat;
    grid-area: 1/1/2/3;
    
   
}

.content2{
   
    background-image: url(https://image.fanatik.com.tr/i/fanatik/75/700x400/65304e6c80a0330fcc2e78fd.jpg);
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    grid-area: 1/3/2/4;
   
}
.content3{
   
    background-image: url(https://image.fanatik.com.tr/i/fanatik/75/700x400/6530513980a0330fcc2e7929.jpg);
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}
.content4{
    
    background-image: url(https://image.fanatik.com.tr/i/fanatik/75/700x400/6530cf5180a033235c96e9e9.jpg);
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}
.content5{
    
    background-image: url(https://image.fanatik.com.tr/i/fanatik/75/700x400/652fd86880a0323f949c7b2a.jpg);
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}
.content6{
   
    background-image: url(https://image.fanatik.com.tr/i/fanatik/75/700x400/652fc05980a0330fcc2e76d0.jpg);
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    grid-area: 2/3/3/5;
}



