*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.position-relative{
    bottom: 2rem;
    height: 50px;
    width: 200px;
    background-color: blueviolet;
    color: white;
}