body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.imageCap{
  overflow:hidden;
  border-radius: 20px;
}
.image1{
  transition: scale .5s ease-in-out;
  object-fit: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.image1:hover{
  scale:1.3;
}