
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.picture{
  
display: flex;
margin-left: 19px;
    
   
    
    
}

.name{
    margin: 20px;
    font-size: 18px;
}

header svg{
    width: 20px;
    height: 30px;
    flex-shrink: 0;
    opacity: 0.5;
}

header{
    background: #F5F5F5;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
   
    
}

.svg{
    display: flex;
    padding: 10px;
    gap: 2rem;
    align-items: center;
    margin-right: 19px;
}

#x{
    color: rgba(0, 0, 0, 0.50);
    font-size: 30px;
    font-family: Inter,sans-serif;
}

nav{
    background: #20889F;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav h1{
    color: white;
    font-family: kenia;
    font-size: 30px;
    font-weight: 400px;
    margin-left: 33px;
    word-wrap: break-word;
    
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar p{
    font-size: 18px;
}

#pp{
    width: 78px;
    height: 70px;
    margin-top: 5px;
    
}

aside{
    width: 254px;
    height: 356px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 24px;
    margin-left: 5rem;
}

aside div{
   padding: 5px;
   display: flex;
   text-align: center;
  
  
}

aside div a{
    text-decoration: none;
    color: black;
    height: auto;
    margin-top: 7px;
    font-size: 15px;
    padding: 5px;
    
   
   
}
main{
    width: 70%;
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
}

.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 1rem;  
    
       
}

.isim{
    display: flex;
    flex-direction: column; 
    margin-left: 1rem;
    

}

main h2{
    color: #20889F;
    margin-bottom: 1rem;
    font-family: Inter;
    font-size: 15px;
}

.yasar{
    display: flex;
    margin-top: 1rem;
    gap: 0.8rem;
    margin-right: 3rem;

}

.kisi{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

hr{
    margin-top: 1rem;
    background: rgba(221, 221, 221, 0.87);
    width: 98%;
    height: 0.0625rem;
    margin: auto;
    
}

#top{
    margin-top: 1.3rem;
}

.topFollowers{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 1rem;  

}

.india{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.7rem;
    

}

.ustyazi{
    color: #000;
    font-family: inter;
    font-size: 0.824rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 8.875rem;
}

.altyazi{
    color: #20889F;
    font-family: Inter;
    font-size: 0.5625rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    width: 8.875rem;

    }

 .india img{
    outline: 7.6px solid #20889F;
    border-radius: 0.625rem;
    margin-right: 1.25rem;
    
 }

 h3{
    color: #20889F;
    margin-bottom: 1rem;
    font-family: Inter;
    font-size: 15px;
 }