$bgColor: pink;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fontSize: 1.2rem;
$navBgColor: #30a7c3;
$bannerBgColor: rgb(105, 255, 133);
$myBorder: 2px solid brown;
$fontColor: white;
$buttonColor: rgb(224, 169, 169);
$marginReset: 0;
