@import "variables", "reset",;
body{
    font-family: $fontFamily;
    font-size: $fontSize;
}

header{
    background-color: $navBgColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    img{
        border: $myBorder;
        border-radius: 10px;
        width: 80px;
    }
    nav{
        ul{
            display: flex;
            gap: 1.5rem;
            list-style-type: none;
            li a{
                text-decoration: none;
                color: white;
                &:hover{
                    text-decoration: underline;
                }
               
            }
        }
    }
}

.banner{
    background-color: $bannerBgColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem;
    line-height: 2rem;
    img{
        width: 40%;
        max-width: 600px;
        min-width: 300px;
    }
    button{
        background-color: $buttonColor;
        border: none;
        padding: 10px;
        border-radius: 10px;
        &:hover{
            background-color: $bgColor;
            cursor: pointer;
        }
    }
}